body {
    background-color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    border: 3px solid gray;
    border-radius: 5px;
}


select {
    border: 2px solid gray;
    border-radius: 5px;
    
}

/* Estilo para los labels de los campos de entrada */
label {
    display: block;
    text-align: center;
    margin-top: 6px;
    font-weight: bold;
    
}

/* Estilo para los botones */
.boton {
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilo para el botón Calcular (azul con letras blancas) */
#Calcular {
    background-color: blue;
    color: white;
}

/* Estilo para el botón Limpiar (rojo con letras blancas) */
#Limpiar {
    background-color: red;
    color: white;
}

/* Estilo para el botón Enviar (verde con letras blancas) */
#Enviar {
    background-color: green;
    color: white;
}
